<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a{text-decoration:none}
        body{
    background: #f0ffab;
}
    </style>
</head>
<body>

<a style="font-style: italic;color: darkblue ;text-align: center"href="http://localhost:8000/movie/main_page/1">回电影主页</a>
<a style="font-style: italic;color: darkblue ;text-align: right"href="http://localhost:8000/movie/all_actor/1">回演员主页</a>
<a style="font-style: italic;color: darkblue ;text-align: right"href="http://localhost:8000/movie/search_page/">回搜索页</a>
<h2>相关评论 共 {{ size }}条</h2>
<h3>花费{{ search_time }}秒</h3>
{% for it in page_obj%}
    {{ it.0 }}<br>
    <a href="http://localhost:8000/movie/moviepage/{{ it.1 }}">
        <p style="font-style: italic;color: darkblue ">《{{ it.1 }}》</p></a>
    <br>
    <br>


{% endfor %}



{#{% for contact in page_obj %}#}
    {# Each "contact" is a Contact model object. #}
{#    {{ contact.full_name|upper }}<br>#}
{#{% endfor %}#}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


   <form name="input" method="post" accept-charset="UTF-8">
        {% csrf_token %}
        <input type="text" name="page">
        <input type="submit" value="Submit">
    </form>

</body>
</html>