<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        首页
    </title>
    <h1 style="text-align: center">
        电影
    </h1>
    <h2 style="text-align: center">
        主页面
    </h2>
    <form action="search.html">
搜索:<br>
<input type="text" name="">
<br>
        <input type="submit" value="Submit">
    </form>
        <br>
    <a href="search.html">
        <img src="http://img5.mtime.cn/mg/2019/01/24/173244.12487583_270X405X4.jpg">
        <h3>
            title
        </h3>
    </a>
    <p>
        {{ related_movies.0.movie_pic }}
        <br>
        hahahah

    </p>

</head>
<body>

</body>
</html>